[submodule "api-gateway"]
  path = api-gateway
	url = https://github.com/matigaleanodev/api-gateway.git
  branch = main

[submodule "auth-service"]
  path = auth-service
  url = https://github.com/matigaleanodev/auth-service.git
  branch = main

[submodule "blog-front"]
  path = blog-front
  url = https://github.com/matigaleanodev/blog-front.git
  branch = main

[submodule "comment-service"]
  path = comment-service
  url = https://github.com/matigaleanodev/comment-service.git
  branch = main

[submodule "post-service"]
  path = post-service
  url = https://github.com/matigaleanodev/post-service.git
  branch = main
